  <!-- Header -->
  {{> header}}

  <section class="about__section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Transforming the way people see the world, through film.</h1>
        </div>

        <div class="col-sm-12">
          <p class="paragraph"><b>FEELMOTION</b> is designed by and aimed at the next generation of filmmakers from the Balkans and beyond. We are deeply committed to showcasing the best student made films and the up-and-coming talents of the future.
          </p>

          <p class="paragraph">Created as a way of bringing together like-minded film lovers and maintaining relationships from different parts of the world, Feelmotion is not a typical film festival – there is no serious competition between filmmakers here, just a wish for fellow enthusiasts to build a better filmmaking future – where we can meet as contemporary filmmakers.
          </p>

          <p class="paragraph">It is a rare opportunity for filmmakers to meet together and even rarer still to meet in a place as beautiful and photogenic as Ohrid.
          </p>

          <p class="paragraph">Through our programme of screenings, workshops and activities, we hope to make both professional and personal friendships at Feelmotion and garner a much-needed international recognition for filmmaking in the Balkans.
          </p>

          <p class="paragraph">We seek to find real emotion at Feelmotion!</p>
        </div>

        <div class="col-sm-12 text-center">
          <h1>FEELMOTION 2.0</h1>
        </div>
        <div class="col-sm-12">
          <div class="videoWrapper">
              <iframe src="https://www.youtube.com/embed/DBQD1vlr7qQ?ecver=2" style="width:100%;" width="641" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="quote_section_about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>“The best and most beautiful things in the world cannot be seen or even touched. They must be felt with the heart”</h3>
          <p><a href="https://www.goodreads.com/author/show/7275.Helen_Keller">— Helen Keller</a></p>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="about__section" >
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="sponsers">

          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Footer -->
  {{> footer}}
