  <!-- Header -->
  {{> header}}

  <section class="page__header" style="background-image: url(https://image.ibb.co/dn7FJH/bg_CTT2017.png)">
    <div class="centered">
      <div class="inner_header">
        <p>APRIL 2 - 6, 2017</p>
        <h1>FEELMOTION's Top Ten Film Festival</h1>
        <p>#FEELMOTION 3.0</p>
      </div>
    </div>
  </section>

  <section class="awards_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Awards</h1>
        </div>



        <div class="col-sm-12 text-center">
          <h3>FEELMOTION 3.0</h3>
          <p>Feelmotion may not be the best-known film festival, but we are original. Our awards are not given on artistic style but the feeling that the audience gets by watching the lives of relatable and intriguing characters.
            Our awards show the emotions that we all, as humans, experience in our daily lives and in all the films we watch. Laughter, tears, inspiration and heartache (and that is before the screenings even begin!)
            Join us and share in those feelings!</p>
        </div>

        <div class="col-sm-12 text-center">
          <h3>FEELMOTION 2.0</h3>
            <p>BEST SAD: <b>‘Žeđ’</b> by Nikola Vučinić</p>
            <p>BEST INSPIRING: <b>‘On the trail of Dry Summer’</b> by Irem Ozyurek</p>
            <p>BEST LOVELY: <b>‘One more cup of coffee’</b> by Gorgi Lazov</p>
            <p>BEST FUNNY: <b>‘Pussy Masturbation’</b> by Renata Gasiorowska</p>
            <p>BEST WEIRD: <b>‘Pathos’</b> by Bojan Stijovic</p>
          <p><strong>Many more emotions to be felt in April 2018!</strong></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  {{> footer}}
