  <!-- Header -->
  {{> header}}

  <section class="page__header" style="background-image: url(img/IMG_6139.JPG); background-position-y: 70%;">
    <div class="centered">
      <div class="inner_header">
        <!-- <p><img src="https://image.ibb.co/nzPqkx/TIFFx_INSTAlogo.png" width="100%"></p> -->
      </div>
    </div>
  </section>

  <section class="gallery_header_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>FEELMOTION 2.0 Gallery</h1>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="row">
              {{#each photos}}
              <div class="col-lg-4 col-md-6 col-sm-12 photo-col">
                <a href="{{imgUrl}}" data-toggle="lightbox" data-gallery="example-gallery">
                    <img src="{{imgUrl}}" class="img-fluid">
                </a>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
    </div>
  </section>

  <!-- Footer -->
  {{> footer}}
