  <!-- Header -->
  {{> header}}

  <section class="page__header" style="background-image: url(https://image.ibb.co/gdCPxc/Ohrid.jpg); background-position-y: 70%;">
    <div class="centered">
      <div class="inner_header">
        <h1>Getting Here</h1>
        <p class="bigger">Found on Partizanska, Feelmotion 3.0 will be hosted in FIOFA. Easy to find, you just travel down the Boulevard of Macedonian Educators towards the lake (if you hit the water, you’ve gone TOO far!). Keep an eye open for Partizanska Street and when you see it turn left! Continue, until you see FIOFA on your left.
 <br><a href="https://www.google.mk/maps/place/FIOFA+Film+Institute+-+Ohrid+Film+Academy/@41.1124921,20.8045995,17z/data=!4m5!3m4!1s0x0:0xb7f89d624f18ff9!8m2!3d41.1131771!4d20.8026217?hl=en" target="_blank">If this is too confusing just click on this and Google will guide you!</a></p>
      </div>
    </div>
  </section>

  <section class="program_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Program</h1>
        </div>
      </div>

      <div class="table">
        <div class="row head">
          <div class="col-sm-12">
            <h5>Monday 02.04.2018</h5>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p><a onclick="$('#BB').css('display', 'block');" style="cursor: pointer;">Bernd Buder lecture<br><b>Read More</b></a></p>
          </div>
          <div class="col-md-6">
            <p>10:30 - 13:30</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>Kosta Dupcinov Photo Galery</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>Opening Ceremony</p>
          </div>
          <div class="col-md-6">
            <p>19:00 - 20:00</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>Screening/Q&A "Rooftop story"</p>
          </div>
          <div class="col-md-6">
            <p>20:00 - 22:30</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>Opening Party - FIOFA</p>
          </div>
          <div class="col-md-6">
            <p>22:30</p>
          </div>
        </div>
      </div>

      <div class="table">
        <div class="row head">
          <div class="col-sm-12">
            <h5>Tuesday 03.04.2018</h5>
          </div>
        </div>
        <div class="row hover">
          <div class="col-md-6">
            <p>1st Screening</p>
          </div>
          <div class="col-md-6">
            <p>12:00 - 13:30</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p><a onclick="$('#Ivo').css('display', 'block');" style="cursor: pointer;">1st MC  Ivo Mathé<br><b>Read More</b></a></p>
          </div>
          <div class="col-md-6">
            <p>14:30 - 17:00</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>2nd Screening</p>
          </div>
          <div class="col-md-6">
            <p>17:30 - 19:00</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>3rd Screening</p>
          </div>
          <div class="col-md-6">
            <p>20:00 - 21:30</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>Party - Jazz Inn</p>
          </div>
          <div class="col-md-6">
            <p>22:30</p>
          </div>
        </div>
      </div>

      <div class="table">
        <div class="row head">
          <div class="col-sm-12">
            <h5>Wednsday 04.04.2018</h5>
          </div>
        </div>
        <div class="row hover">
          <div class="col-md-6">
            <p><a onclick="$('#BB').css('display', 'block');" style="cursor: pointer;">Bernd Buder lecture<br><b>Read More</b></a></p>
          </div>
          <div class="col-md-6">
            <p>09:00 - 12:00</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>4th Screening</p>
          </div>
          <div class="col-md-6">
            <p>12:00 - 13:30</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p><a onclick="$('#BB').css('display', 'block');" style="cursor: pointer;">2nd Bernd Buder lecture<br><b>Read More</b></a></p>
          </div>
          <div class="col-md-6">
            <p>14:30 - 17:00</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>5th Screening</p>
          </div>
          <div class="col-md-6">
            <p>17:30 - 19:00</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>6th Screening</p>
          </div>
          <div class="col-md-6">
            <p>20:00 - 21:30</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>Party - The Duck</p>
          </div>
          <div class="col-md-6">
            <p>22:30</p>
          </div>
        </div>
      </div>

      <div class="table">
        <div class="row head">
          <div class="col-sm-12">
            <h5>Thurday 05.04.2018</h5>
          </div>
        </div>
        <div class="row hover">
          <div class="col-md-6">
            <p><a onclick="$('#BB').css('display', 'block');" style="cursor: pointer;">Bernd Buder lecture<br><b>Read More</b></a></p>
          </div>
          <div class="col-md-6">
            <p>09:00 - 12:00</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>7th Screening</p>
          </div>
          <div class="col-md-6">
            <p>12:00 - 13:30</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>3rd MC ?????</p>
          </div>
          <div class="col-md-6">
            <p>14:30 - 17:00</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>8th Screening</p>
          </div>
          <div class="col-md-6">
            <p>17:30 - 19:00</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>9th Screening</p>
          </div>
          <div class="col-md-6">
            <p>20:00 - 21:30</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>Closing Party - Liquid</p>
          </div>
          <div class="col-md-6">
            <p>22:30</p>
          </div>
        </div>
      </div>

      <div class="table">
        <div class="row head">
          <div class="col-sm-12">
            <h5>Friday 06.04.2018</h5>
          </div>
        </div>
        <div class="row hover">
          <div class="col-md-6">
            <p><a onclick="$('#BB').css('display', 'block');" style="cursor: pointer;">Bernd Buder lecture<br><b>Read More</b></a></p>
          </div>
          <div class="col-md-6">
            <p>09:00 - 12:00</p>
          </div>
        </div>

        <div class="row hover">
          <div class="col-md-6">
            <p>Closing Ceremony and Awards</p>
          </div>
          <div class="col-md-6">
            <p>13:00</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- BB modal -->
  <div id="BB" class="modal">
    <div class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="$('#BB').css('display', 'none');" class="close" title="Close Modal">&times;</span>
        <img src="img/bernd_buder.jpg" alt="Avatar" class="avatar">
      </div>
      <div class="details text-center">
        <h1>Bernd Buder</h1>
        <p>With many many years of experience in film festivals and organizations, Bernd has worked as director for Berliner Filmkunsthaus Babylon, while scouting out talent at other festivals, particularly in the Balkans. He now joins us as the consultant for Former Yugoslavian Nations at Berlinale – not a bad position to hold – and programmes for Cinedays for Balkan film and the wider European cinema. You can also find him writing various articles as a critic in the German periodical Filmdienst.<br><br>We are absolutely thrilled that these two legends have spared time in their busy schedules to join us for Feelmotion 3.0!</p>
      </div>
    </div>
  </div>

  <!-- IVO modal -->
  <div id="Ivo" class="modal">
    <div class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="$('#Ivo').css('display', 'none');" class="close" title="Close Modal">&times;</span>
        <img src="img/1200px-Ivo_Mathe.jpg" alt="Avatar" class="avatar">
      </div>
      <div class="details text-center">
        <h1>Ivo Mathé</h1>
        <p>Ivo Mathé made history by becoming the first CEO of Czech Television in 1992. He served Vice President of the European Broadcasting Union during that time (no mean feat!) and in 1999, he became a member of the Board of Trustees for CTU and AMU – while working as Head of the Office of the Czech President. In his spare time, he managed to teach at FAMU where he had previously studied.
        <br><br>We are absolutely thrilled that these two legends have spared time in their busy schedules to join us for Feelmotion 3.0!</p>
      </div>
    </div>
  </div>

  <!-- Footer -->
  {{> footer}}
